In [1]:
import pulp
from pulp import *
model = LpProblem("Lifeguard Example", LpMinimize)

C:\Users\haniu\anaconda3\lib\site-packages\pulp\pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [2]:
days = list(range(7))

In [3]:
print(days)

[0, 1, 2, 3, 4, 5, 6]

In [4]:
x = LpVariable.dicts('staff_', days, lowBound=0, cat="integer")

In [5]:
print(x)

{0: staff__0, 1: staff__1, 2: staff__2, 3: staff__3, 4: staff__4, 5: staff__5, 6: staff__6}

In [6]:
cost=(610, 635, 660, 660, 650, 650, 635)

In [7]:
model += lpSum(x[i]*cost[i] for i in days)

In [8]:
model += x[0] + x[3] + x[4] + x[5] + x[6] >= 18
model += x[0] + x[1] + x[4] + x[5] + x[6] >= 16
model += x[0] + x[1] + x[2] + x[5] + x[6] >= 14
model += x[0] + x[1] + x[2] + x[3] + x[6] >= 12
model += x[0] + x[1] + x[2] + x[3] + x[4] >= 17
model += x[1] + x[2] + x[3] + x[4] + x[5] >= 19
model += x[2] + x[3] + x[4] + x[5] + x[6] >= 21

In [9]:
model.solve()

1

In [10]:
print("Total cost = ", value(model.objective))
for n in days:
    print ("Day ", n, x[n].varValue)

Total cost =  15160.0
Day  0 2.2
Day  1 0.2
Day  2 5.2
Day  3 2.2
Day  4 7.2
Day  5 4.2
Day  6 2.2